<div>
  <nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand text-light" [routerLink]="['/homemain']">
        <img src="https://th.bing.com/th/id/OIP.aFUA62GXzSVCvoHZp8-wxwHaHa?rs=1&pid=ImgDetMain" class="nav-img">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  d-flex flex-row justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page" [routerLink]="['/homemain']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-dark" [routerLink]="['/web']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link activate text-dark" [routerLink]="['/homeweb']">
              <img src="https://th.bing.com/th/id/OIP.i18S5hbENZf5sBwYOMm7UAHaHa?rs=1&pid=ImgDetMain"
                class="img-c">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-dark" href="#banner">Follow us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://wallpaperaccess.com/full/1218670.jpg" class="d-block  w-100 banner-size"
            alt="NETWORK ERROR">
          <div class="carousel-caption d-none d-md-block">
            <h1>WELCOME TO MY HOME HUB</h1>
            <h1>Houses</h1>
            <p>We Are Providing Best type of Houses with Budget Friendly With customer's Satisfaction</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://th.bing.com/th/id/OIP.Iep8WRR2L3oQnBsIA4akMQHaE8?rs=1&pid=ImgDetMain"
            class="d-block w-100 banner-size" alt="NETWORK ERROR">
          <div class="carousel-caption d-none d-md-block">
            <h1>Duplex Houses</h1>
            <p>We Are providing Best Duplex Hoses With Swimming Fool Facility With Budget Friendly.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://wallpapercave.com/wp/wp2464205.jpg" class="d-block w-100 banner-size" alt="NETWORK ERROR">
          <div class="carousel-caption d-none d-md-block">
            <h1>Best OUT View Homes</h1>
            <p>We Are Providing Best Out view of Houses.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev text-infoo" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next text-info" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>



  <div class="ba d-flex flex-column justify-content-center ">


    <div class="container ">
      <div class="row">
        <div class="col ">
          <div class="card1 shadow-lg flex-column justify-content-center alignlink">

            <div>
              <h1 class="text-center hed">About us</h1>
            </div>
            <div>
              <h3>We dared to think beyond the convention of just homes. For close to three decades, we perfected the
                rare art of blending great homes with great lifestyle. And today, 24 iconic addresses stand testimony to
                our brand's expertise in building gated communities. We are My Home Constructions. And we have been
                creating happy communities since 1981.we provide best homes .
              </h3>
            </div>
            <div class="text-center">
              <button class="btn btn-warning " [routerLink]="['/web']">GO TO HOME</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="contactus bg-secondary p-2  text-light" id="banner">
  <div class="container">
    <div class="row">
      <div class="col d-flex flex-row justify-content-center">
        <div class="d-flex flex-column justify-content-center m-3">
          <h3 >Contact us</h3>
          <h3>Terms and Conditions</h3>
          <h3>Blob</h3>
          
        </div>
        <div class="d-flex flex-column justify-content-around m-5">
          <h3>Legal</h3>
          <h3>Copyright</h3>
          <h3>FAQs</h3>
        </div>
        <div class="d-flex flex-column justify-content-center m-5">
          <h3 >Testnomial</h3>
          <h3>Homesites</h3>
          <h3>Home</h3>
        </div>
        <div class="d-flex flex-column justify-content-around m-5">
        <h3>Careers</h3>
        <h3 >Cookies</h3>
          <h3>FAQs</h3>
        </div>
      </div>
    </div>
  </div>
</div>