.text-size
{
    font-weight: bold;
}
.s
{
    background-color:floralwhite;
    height: 100%;
    background-size:cover
}
.card1
{
    padding: 20px;
    background-image:linear-gradient(#43CBEF,#970BCC);
    height: 83vh;
    width: 40vw;
    border-radius:20px;
}
