.nav-img
{
    height: 45px;
    width:45px;
    border-radius:10px ;
}
.img-c
{
    height: 25px;
    width: 25px;
    border-radius: 15px;
    margin-right: 4px;
}

.card1
{
    background-color: rgb(136, 171, 246);
    height: 80%;
    width: 20%;
    margin: 20px;
    padding: 20px;
    border-radius: 10PX;
}